---
layout: default
---
<div class="artist">
  <header class="post-header">

    <div class="image-wrapper">
      <img src="/assets/artist/{{ page.slug }}/main.png" />
      <h1 class="post-title">{{ page.title }}</h1>	 
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <h2>Releases</h2>
  <ul id="releases">
    {% for release in site.data.releases[page.slug] %}
    <li>
      <a href="{{ release.url }}"><img src="/assets/releases/{{ release.title }}/200.png"/></a>
      <div class="release-title">{{ release.title }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
