---
layout: default
---
<div class="artist">
  <header class="post-header">

    <div class="image-wrapper">
      <img src="/assets/artist/{{ page.slug }}/main.png" />
      <h1 class="post-title">{{ page.title }}</h1>	 
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <h2>Releases</h2>
  <ul id="releases">
    {% assign releases = (site.data.releases | where: "artist", page.slug) %}
    {% for release in  releases %}
    <li>
      <a href="{{ site.products}}{{ release.product_id }}"><img src="/assets/releases/{{ release.cat_id }}/200.png"/></a>
      <div class="release-title">{{ release.title }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
