---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.featured_image %}
    <img src="/assets/thumbnails/300/{{ page.featured_image }}"/>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.artist %}
    {% for artist in site.artists %}
    {% if artist.title == page.artist %}
    <a href="{{ artist.url }}" class="artist-image-link">
      <img src="/assets/thumbnails/200/{{ artist.featured_image }}" alt="{{ artist.title }}" title="{{ artist.title }}" />
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <h2>Related</h2>
   <ul id="related">
     {% for post in site.related_posts %}
     <li>
       <a href="{{ post.url }}"><img src="/assets/thumbnails/200/{{ post.featured_image }}" alt="{{ post.title }}" title="{{ post.title }}"/></a>
     </li>
     {% endfor %}
   </ul>
</div>
