---
layout: default
---
<div class="post">
  <header class="post-header">

    {% if page.featured_image %}
    <div class="image-wrapper">
      <img src="/assets/{{ page.featured_image }}"/>
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
    {% endif %}

    

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <h2>Related</h2>
   <ul id="related">
     {% for post in site.related_posts %}
     <li>
       <a href="{{ post.url }}"><img src="/assets/thumbnails/200/{{ post.featured_image }}" alt="{{ post.title }}" title="{{ post.title }}"/></a>
     </li>
     {% endfor %}
   </ul>
</div>
