---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.featured_image %}
    <img src="/assets/thumbnails/300/{{ page.featured_image }}"/>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <ul id="categories">
    {% for category in page.categories %}
    <li>{{ category }}</li>
    {% endfor %}
   </ul>
   <ul id="related">
     {% for post in site.related_posts %}
     <li>
       <img src="/assets/thumbnails/200/{{ post.featured_image }}" />
       <a href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
   </ul>
</div>
